
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/music/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/music/css/bootstrap-icons.css">

    <link rel="stylesheet" href="~/music/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/music/css/owl.theme.default.min.css">

    <link href="~/music/css/templatemo-pod-talk.css" rel="stylesheet">
    <style>
        .watsappicon{
            font-size:75px;      
        }

        .watsappPath{
            position: fixed;
            bottom: 0;
            right: 20px;
        }

        .section-padding{
            padding-top: 10px !important;
        }
    </style>

</head>