
@{
    Layout = null;
}

<!doctype html>
<html lang="en">


@await Html.PartialAsync("/Views/LayoutPartial/_HeaderPartial.cshtml")
<body>

    <main>

        @await Html.PartialAsync("/Views/LayoutPartial/_NavbarPartial.cshtml")
       
        @RenderBody()
        <a href="https://wa.me/905346512510?text=Merhabalar" class="watsappPath">
            <i class="fa-brands fa-whatsapp fa-bounce watsappicon" style="color: #58d025;"></i>
        </a>
    </main>

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")
    


    <!-- JAVASCRIPT FILES -->
    <script src="~/music/js/jquery.min.js"></script>
    <script src="~/music/js/bootstrap.bundle.min.js"></script>
    <script src="~/music/js/owl.carousel.min.js"></script>
    <script src="~/music/js/custom.js"></script>

   

</body>

</html>
